'.source.ledger':
  'editor':
    'increaseIndentPattern': '^\\d'
    'decreaseIndentPattern': '^\\s+\\d'
    'foldEndPattern': '^(end apply|end comment|endfixed|end test)'
    'commentStart': '; '
    'tabLength': 4
