@import "ui-variables";
@import "variables";

atom-text-editor::shadow {

    .transaction {
        font-weight: bold;

        .pending {
            color: @red;
        }

        .cleared {
            color: @magenta;
        }
    }

    .constant.currency, .constant.amount {
        color: @blue !important;
    }

}
